<a href="https://colab.research.google.com/github/vivekpenuli/linear-lasso-ridge-elastic/blob/master/ridge%2Classo_%2Celastic_net.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.datasets import load_boston

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import r2_score

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df=load_boston()

In [ ]:
df

{'DESCR': ".. _boston_dataset:\n\nBoston house prices dataset\n---------------------------\n\n**Data Set Characteristics:**  \n\n    :Number of Instances: 506 \n\n    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.\n\n    :Attribute Information (in order):\n        - CRIM     per capita crime rate by town\n        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.\n        - INDUS    proportion of non-retail business acres per town\n        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)\n        - NOX      nitric oxides concentration (parts per 10 million)\n        - RM       average number of rooms per dwelling\n        - AGE      proportion of owner-occupied units built prior to 1940\n        - DIS      weighted distances to five Boston employment centres\n        - RAD      index of accessibility to radial highways\n        - TAX      full-value property-tax rate per $10,000\n        - PTRATIO  pupil-teacher ratio by town\n        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town\n        - LSTAT    % lower status of the population\n        - MEDV     Median value of owner-occupied homes in $1000's\n\n    :Missing Attribute Values: None\n\n    :Creator: Harrison, D. and Rubinfeld, D.L.\n\nThis is a copy of UCI ML housing dataset.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/housing/\n\n\nThis dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.\n\nThe Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic\nprices and the demand for clean air', J. Environ. Economics & Management,\nvol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics\n...', Wiley, 1980.   N.B. Various transformations are used in the table on\npages 244-261 of the latter.\n\nThe Boston house-price data has been used in many machine learning papers that address regression\nproblems.   \n     \n.. topic:: References\n\n   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.\n   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.\n",
 'data': array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
         4.9800e+00],
        [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
         9.1400e+00],
        [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
         4.0300e+00],
        ...,
        [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
         5.6400e+00],
        [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
         6.4800e+00],
        [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
         7.8800e+00]]),
 'feature_names': array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
        'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7'),
 'filename': '/usr/local/lib/python3.6/dist-packages/sklearn/datasets/data/boston_house_prices.csv',
 'target': array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
        18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
        15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
        13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
        21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
        35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
        19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
        20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
        23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
        33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
        21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
        20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
        23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
        15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
        17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
        25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
        23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
        32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
        34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
        20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
        26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
        31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
        22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
        42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
        36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
        32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
        20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
        20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
        22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
        21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
        19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
        32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
        18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
        16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
        13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
         7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
        12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
        27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
         8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
         9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
        10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
        15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
        19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
        29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
        20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
        23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9])}

In [ ]:
dataset = pd.DataFrame(df.data)
print(dataset.head())

        0     1     2    3      4   ...   8      9     10      11    12
0  0.00632  18.0  2.31  0.0  0.538  ...  1.0  296.0  15.3  396.90  4.98
1  0.02731   0.0  7.07  0.0  0.469  ...  2.0  242.0  17.8  396.90  9.14
2  0.02729   0.0  7.07  0.0  0.469  ...  2.0  242.0  17.8  392.83  4.03
3  0.03237   0.0  2.18  0.0  0.458  ...  3.0  222.0  18.7  394.63  2.94
4  0.06905   0.0  2.18  0.0  0.458  ...  3.0  222.0  18.7  396.90  5.33

[5 rows x 13 columns]

In [ ]:

dataset.columns=df.feature_names

In [ ]:
dataset.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [ ]:
df.target.shape

(506,)

In [ ]:
dataset["Price"]=df.target

In [ ]:
dataset.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  Price
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98   24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14   21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03   34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94   33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33   36.2

[5 rows x 14 columns]

In [ ]:
X=dataset.iloc[:,:-1] 
y=dataset.iloc[:,-1]

In [ ]:
X

        CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0    0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1    0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2    0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3    0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4    0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33
..       ...   ...    ...   ...    ...  ...  ...    ...      ...     ...    ...
501  0.06263   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  391.99   9.67
502  0.04527   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   9.08
503  0.06076   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   5.64
504  0.10959   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  393.45   6.48
505  0.04741   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   7.88

[506 rows x 13 columns]

#linear regression

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

In [ ]:
score1=cross_val_score(LinearRegression(),X_train,y_train,cv=10,scoring='neg_mean_squared_error')
print(score1.mean())

-26.20371423172947

In [ ]:
mse_score=-score1
print(mse_score.mean())

26.20371423172947

In [ ]:
model1=LinearRegression()
model1.fit(X_train,y_train)
pre1=model1.predict(X_test)

In [ ]:
pre1

array([35.75549118, 24.88291659, 25.35144926, 29.13220336, 16.61613233,
       20.63738431, 13.25838455, 22.08506583, 21.61815219, 33.83890856,
       14.04369017, 17.68801924, 17.03756841, 35.72941459, 19.226767  ,
       17.66950841, 16.85037011, 32.51297136, 31.21460954, 11.67861569,
       29.26224732, 16.68060926, 27.71498772,  6.06975895, 25.50872929,
       19.66514699, 31.11518525, 17.99211778, 19.72250487, 24.0199608 ,
       24.72007169, 17.56895233, 22.81544837, 20.49739304, 21.26162608,
       19.1508945 , 17.18267882, 39.24874258, 15.74458747, 20.70996536,
        8.38652033, 24.42034818, 19.39948728, 21.56183219, 23.31235851,
       30.72733195, 24.82772545, 18.43408114, 32.50454193, 18.02085952,
       21.09084918, 23.55949123, 24.69990467, 20.18934441,  5.7806595 ,
       13.1759619 , 21.03733543, 13.00980195, 26.58500753, 32.17891452,
       20.93472105, 10.12092292, 21.74895634, 25.5307288 , 16.70064774,
       14.26409759, 14.05054673, 33.53795671, 42.41174214, 27.41751048,
       24.71477334, 18.74807755, 19.98926749, 28.67533322, 19.54107207,
       19.67132606, 25.58086912, 22.06412879, 20.92707808, 32.98060842,
       27.72945056, 16.23201101, 31.03079829, 17.39962959, 21.46728457,
       23.43201515, 24.03175256,  9.80040622, 13.68596761, 28.47772955,
       15.05080659, 28.54857167, 23.08862845, 32.04335161, 28.02198269,
       23.6874896 , 20.83752829, 27.26740497, 31.04370994, 37.80742425,
       33.73679647, 37.93700665, 15.59340935, 20.85542804, 17.43808527,
       25.6615695 , 30.64593243, 23.64902262, 17.56891209, 19.41427989,
       15.16371117, 27.3881046 , 20.11147144, 23.60442597,  5.96017832,
        3.58752085, 23.99072788, 28.31061218, 25.85708096, 22.46425718,
       23.50329352,  7.19922622, 16.94909599, 20.49309899, 26.14598119,
       15.33675576, 21.37388476, 14.84666081, 33.13721641, 23.69614382,
       15.59151849, 15.86214081, 21.9239292 , 20.65430381, 12.0802022 ,
       32.95776407, 27.8756848 , 20.33189258, 11.37403947, 21.52299258,
        6.6311192 , 16.20530011, 21.65128462, 28.41996132, 39.72377131,
       19.95736129, 11.42890582, 24.14749858, 13.50198166, 19.83383771,
       25.20667534, 28.6057587 ])

In [ ]:
y_test

306    33.4
320    23.8
70     24.2
369    50.0
345    17.5
       ...
250    24.4
491    13.6
395    13.1
347    23.1
239    23.3
Name: Price, Length: 152, dtype: float64

In [ ]:
error1= (y_test - pre1) **2

In [ ]:
error1.mean()

21.17526143773597

In [95]:
pred_train_lr= model1.predict(X_train)
print((mean_squared_error(y_train,pred_train_lr)))
print(r2_score(y_train, pred_train_lr))
print(" ")

print("the mean squared error" , (mean_squared_error(y_test,pre1))) 
print("the square root error " ,np.sqrt(mean_squared_error(y_test,pre1))) 
print(r2_score(y_test, pre1))

22.9916713700408
0.7331388763313197

the mean squared error 21.175261437735966
the square root error  4.60165855292806
0.7360880928489422

# ridge regression

In [ ]:
C = [0.00036,0.00030,0.00039,0.00042,0.00045,0.0001,1,0.1]
avg_scores = {}  #it is a dictionary to store the kernal and c with its score
for cval in C:   #muiltiple for loop concep
  cv_scores =cross_val_score(Ridge(alpha=cval),X_train,y_train, cv=10,scoring='neg_mean_squared_error')
  avg_scores[str(cval)] = (cv_scores).mean()  

avg_scores

{'0.0001': -26.20370415822186,
 '0.0003': -26.20368408911991,
 '0.00036': -26.203678088631467,
 '0.00039': -26.203675091888567,
 '0.00042': -26.203672097479302,
 '0.00045': -26.203669105403215,
 '0.1': -26.204280691376045,
 '1': -26.42166063102253}

In [ ]:
model2=Ridge(alpha=0.00001)
model2.fit(X_train,y_train)
pre2=model2.predict(X_test)

In [ ]:
pre2[:20]

array([35.75548807, 24.88292035, 25.35144566, 29.13219784, 16.61613579,
       20.63738859, 13.25838556, 22.08508437, 21.61815431, 33.83890747,
       14.04368934, 17.68801385, 17.03757439, 35.72940797, 19.22676788,
       17.66951854, 16.85035475, 32.51296977, 31.21461884, 11.67862414])

In [ ]:
y_test[:20].values

array([33.4, 23.8, 24.2, 50. , 17.5, 20.1, 11.3, 22.2, 21.7, 32.4, 14. ,
       17.4, 23.2, 35.1, 17.1, 15.4, 19.1, 31.1, 35.4, 10.8])

In [ ]:
error2= ( y_test- pre2) **2

In [ ]:
error2

306      5.548324
320      1.172716
70       1.325827
369    435.465167
345      0.781216
          ...
250      0.063754
491      0.009610
395     45.344598
347      4.438112
239     28.151017
Name: Price, Length: 152, dtype: float64

In [ ]:
error2.mean()

21.17525977834907

# lasso regression

In [ ]:
C1 = [1e-15,1e-100,1e-8,1e-3,1e-2,1,5,10,20,30,35,40,45,50,55,100]
lasso_avg_scores = {}  #it is a dictionary to store the kernal and c with its score
for cval1 in C1:   #muiltiple for loop concep
  lasso_cv_scores =cross_val_score(Lasso(alpha=cval1),X_train,y_train, cv=10,scoring='neg_mean_squared_error')
  lasso_avg_scores[str(cval1)] = (lasso_cv_scores).mean()  

lasso_avg_scores

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3577.6888870989924, tolerance: 2.706594301886793
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3533.6375478864416, tolerance: 2.7840495345911958
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3604.4245327470007, tolerance: 2.7086509685534597
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3736.6116052807456, tolerance: 2.7850985283018868
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3558.9519749599626, tolerance: 2.6520103448275867
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3430.33810591465, tolerance: 2.803013504702194
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3113.8783502796755, tolerance: 2.70806455799373
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2775.3429858908985, tolerance: 2.6590762946708466
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3406.947334079071, tolerance: 2.786115686520376
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3713.8800300323023, tolerance: 2.8480974733542324
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3662.564466021162, tolerance: 2.706594301886793
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3704.3175087903855, tolerance: 2.7840495345911958
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3677.782874694977, tolerance: 2.7086509685534597
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3794.04990081419, tolerance: 2.7850985283018868
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3705.4798092377287, tolerance: 2.6520103448275867
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3499.948920557482, tolerance: 2.803013504702194
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3191.18346975653, tolerance: 2.70806455799373
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3671.021710667484, tolerance: 2.6590762946708466
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3674.100173985671, tolerance: 2.786115686520376
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3796.6522695051935, tolerance: 2.8480974733542324
  positive)

{'0.001': -26.20363493683886,
 '0.01': -26.23103588728609,
 '1': -30.053361888272896,
 '10': -42.65740965000581,
 '100': -64.56323552942226,
 '1e-08': -26.203714226607286,
 '1e-100': -26.203714231729407,
 '1e-15': -26.203714231729407,
 '20': -51.169946439896805,
 '30': -61.57755033526253,
 '35': -62.308424341478506,
 '40': -62.94513953767986,
 '45': -63.454388493965055,
 '5': -39.770296607692245,
 '50': -63.6907745414439,
 '55': -63.732807555369185}

In [ ]:
model3=Lasso(alpha=0.001)
model3.fit(X_train,y_train)
pre3=model3.predict(X_test)

In [ ]:
pre3[:20]

array([35.74960429, 24.89187307, 25.34408568, 29.10361203, 16.62546716,
       20.64849683, 13.26109165, 22.1251031 , 21.62350075, 33.81861853,
       14.04190022, 17.67870864, 17.04967576, 35.7163679 , 19.22953419,
       17.69008153, 16.81991433, 32.50946569, 31.23517812, 11.69600285])

In [ ]:
y_test[:20].values

array([33.4, 23.8, 24.2, 50. , 17.5, 20.1, 11.3, 22.2, 21.7, 32.4, 14. ,
       17.4, 23.2, 35.1, 17.1, 15.4, 19.1, 31.1, 35.4, 10.8])

In [ ]:
error3= (y_test - pre3) **2

In [ ]:
error3.mean()

21.19101722906483

# elastic net

In [103]:
from sklearn.linear_model import ElasticNet
model4 = ElasticNet(alpha=0.1, l1_ratio=0.05)
model4.fit(X_train, y_train)

ElasticNet(alpha=0.1, copy_X=True, fit_intercept=True, l1_ratio=0.05,
           max_iter=1000, normalize=False, positive=False, precompute=False,
           random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [104]:
pre4=model4.predict(X_test)

In [105]:
pre4[:20]

array([35.01581909, 25.31872916, 24.6330295 , 28.6176786 , 17.26944541,
       21.28056381, 13.51343588, 24.25010368, 21.94768041, 33.46478917,
       13.05762748, 17.54077385, 17.49468088, 35.02651242, 18.81889313,
       18.28913569, 15.13850806, 32.18171545, 31.96664621, 12.41951116])

In [106]:
y_test[:20].values

array([33.4, 23.8, 24.2, 50. , 17.5, 20.1, 11.3, 22.2, 21.7, 32.4, 14. ,
       17.4, 23.2, 35.1, 17.1, 15.4, 19.1, 31.1, 35.4, 10.8])

In [107]:
error4= (y_test - pre4) **2

In [108]:
error3.mean()

21.19101722906483